<form action="/Login/Index" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="text" class="form-control" name="Username" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" name="Password" placeholder="name@example.com">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>