<h1>Wallet Users <span id="txtCount"></span></h1>

@* <a class="btn btn-outline-success" href="/Wallet/Create">Create</a> *@

<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createModal">
    Create
</button>

<a class="btn btn-outline-success" href="/transaction/history">Transaction History</a>

<a class="btn btn-outline-success" href="/wallet/history">Wallet History</a>

<a class="btn btn-outline-primary" href="/wallet/deposit">Deposit</a>

<a class="btn btn-outline-primary" href="/wallet/withdraw">Withdraw</a>

<a class="btn btn-outline-primary" href="/wallet/check-balance">Check Balance</a>

<a class="btn btn-outline-primary" href="/wallet/transfer">Transfer</a>

<input type="text" class="form-control date-picker">

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <partial name="~/Views/Wallet/WalletCreate.cshtml" />
            </div>
        </div>
    </div>
</div>

<table class="table table-responsive" id="tb_DataTable">
    <thead>
        <tr>
            <th>Actions</th>
            <th>No.</th>
            <th>User Name</th>
            <th>Mobile No</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody id="tbDataTable">
    </tbody>
</table>

@section scripts {
    <script src="~/js/wallet/createwallet.js"></script>
    <script>
        loadData();

        function loadData() {
            $.ajax({
                url: "/Wallet/Index",
                type: "POST",
                success: function (response) {
                    console.log({ response });

                    $('#tbDataTable').html('');

                    let count = 0;
                    for (let i = 0; i < response.Data.length; i++) {
                        console.log(response.Data[i]);

                        const item = response.Data[i];
                        let row = `
                                    <tr>
                                        <td>
                                            <a href="/Wallet/Edit/${item.WalletId}" data-id="${item.WalletId}" class="btn btn-outline-warning">Edit</a>
                                            <button data-id="${item.WalletId}" class="btn-delete btn btn-outline-danger">Delete</button>
                                        </td>
                                        <td>${++count}</td>
                                        <td>${item.WalletUserName}</td>
                                        <td>${item.MobileNo}</td>
                                        <td>${item.Balance}</td>
                                    </tr>
                                    `;
                        $('#tbDataTable').append(row);
                    }
                    bindDeleteClick();

                    let table = new DataTable('#tb_DataTable');
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }

        function bindDeleteClick() {
            $('.btn-delete').click(function () {
                const id = $(this).data('id');
                // if(!confirm("Are you sure you want to delete this wallet?")){
                //     return;
                // }

                confirmMessage("Are you sure want to delete?").then((isSuccess) => {
                    if (!isSuccess) return;

                    const item = {
                        WalletId: id
                    };
                    $.ajax({
                        url: `/Wallet/Delete`,
                        type: "POST",
                        data: { requestModel: item },
                        success: function (response) {
                            console.log({ response });
                            if (!response.IsSuccess) {
                                alert("Error: " + response.Message);
                                return;
                            }
                            alert(response.Message);
                            loadData();
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                });
            });
        }
    </script>
}
