@{
    ViewData["WalletUserName"] = "New Wallet";
    ViewData["Test"] = "heehee";
}
<h1>New Wallet</h1>

<form method="post" action="/Wallet/Create">
    <div class="mb-3">
        <label for="txtWalletUserName" class="form-label">WalletUserName</label>
        <input type="text" name="WalletUserName" class="form-control" id="txtWalletUserName">
    </div>
    <div class="mb-3">
        <label for="txtFullName" class="form-label">FullName</label>
        <input type="text" name="FullName" class="form-control" id="txtFullName">
    </div>
    <div class="mb-3">
        <label for="txtMobileNo" class="form-label">MobileNo</label>
        <input type="text" name="MobileNo" class="form-control" id="txtMobileNo">
    </div>
    <div class="mb-3">
        <label for="txtBalance" class="form-label">Balance</label>
        <input type="text" name="Balance" class="form-control" id="txtBalance">
    </div>
    <a href="/Wallet/Index type="button" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-success" id="btnSave">Save</button>
</form>
